.book {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 1.2rem;
  margin: 10px 20px;
}
.book:hover{
  color: orange;
  cursor: pointer;
}
.container a{
  color:black
}
.nav-bar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-bar{
  background-color: rgba(0, 0, 0, 0.863);
  color: aliceblue;
  font-weight: 700;
  text-align: center;

}
.nav-bar li{
  display: inline-block;
  margin: 20px auto;
  padding: 10px;
}
.nav-bar a{
text-decoration: none;
color: aliceblue;
  
}
.nav-bar a:hover,.nav-bar a.active{
  color:orange
} 
.container{
  max-width:1200px;
  margin: 10px auto;
  padding:10px;
  text-align: center;
}